
<div class="container">
    <div class="row text-center">

        <ul id="footerLinks">
            <li><a href="#">IRS Privacy Policy</a></li>
            <li><a href="#">Security Code Terms and Conditions</a></li>
            <li><a href="#">Accessibility</a></li>
        </ul>
    </div>
</div>