.balance-due{
  display: block;
  background-color: $dark-blue;
  padding: 10px;
  color: $white;

  h2{

    margin-top: 5px;
    font-size: $h2FontSize;
  }

  .amount{
    font-size: 40px;
  }

}

.make-payment{
  display: block;
  background-color: $medium-blue;
  padding: 10px;
  color: $white;

  a{
      color: $white;
      text-decoration: none;
  }
}

.make-payment:hover{
    background-color: $secondary-orange;
}

.see-payments{
  display: block;
  background-color: $lighter-blue;
  padding: 10px;
  color: $white;

  a{
      color: $white;
      text-decoration: none;
  }
}

.see-payments:hover{
    background-color: $secondary-orange;
}

.payment-icons{
  text-align: center;
  font-size: 63px;
  margin: 10px 0 15px 0;
}

@media (min-width: $viewport-lg) {
  .balance-due{
    height: 140px;
  }

  .make-payment{
    height: 140px;
  }

  .see-payments{
      height: 140px;
  }

}

@media (max-width: $viewport-lg) {
    .balance-due{
        margin-bottom: 15px;
    }

    .make-payment{
    margin-bottom: 15px;
  }

}