.btn {
  border: 0 none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary{
  padding: 10px 14px;

  background: rgba(240,160,0,1);
  background: -moz-linear-gradient(top, rgba(240,160,0,1) 0%, rgba(240,160,0,1) 30%, rgba(255,97,49,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,160,0,1)), color-stop(30%, rgba(240,160,0,1)), color-stop(100%, rgba(255,97,49,1)));
  background: -webkit-linear-gradient(top, rgba(240,160,0,1) 0%, rgba(240,160,0,1) 30%, rgba(255,97,49,1) 100%);
  background: -o-linear-gradient(top, rgba(240,160,0,1) 0%, rgba(240,160,0,1) 30%, rgba(255,97,49,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,160,0,1) 0%, rgba(240,160,0,1) 30%, rgba(255,97,49,1) 100%);
  background: linear-gradient(to bottom, rgba(240,160,0,1) 0%, rgba(240,160,0,1) 30%, rgba(255,97,49,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a000', endColorstr='#ff6131', GradientType=0 );

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: rgba(219,146,0,1);
  background: -moz-linear-gradient(top, rgba(219,146,0,1) 0%, rgba(219,146,0,1) 30%, rgba(255,79,26,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,146,0,1)), color-stop(30%, rgba(219,146,0,1)), color-stop(100%, rgba(255,79,26,1)));
  background: -webkit-linear-gradient(top, rgba(219,146,0,1) 0%, rgba(219,146,0,1) 30%, rgba(255,79,26,1) 100%);
  background: -o-linear-gradient(top, rgba(219,146,0,1) 0%, rgba(219,146,0,1) 30%, rgba(255,79,26,1) 100%);
  background: -ms-linear-gradient(top, rgba(219,146,0,1) 0%, rgba(219,146,0,1) 30%, rgba(255,79,26,1) 100%);
  background: linear-gradient(to bottom, rgba(219,146,0,1) 0%, rgba(219,146,0,1) 30%, rgba(255,79,26,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db9200', endColorstr='#ff4f1a', GradientType=0 );
}

.button-container-right{
  display: block;
  text-align: right;
}