$dark-blue: #112e51;
$deep-blue: #205493;
$medium-blue: #0071bc;
$lighter-blue: #038ad6;
$lightest-blue: #02bfe7;

$primary-orange: #f23f00;
$secondary-orange: #ff6131;
$primary-green: #2e8540;

$black: #000000;
$dark-grey: #323a45;
$medium-grey: #5b616b;
$light-grey: #aeb0b5;
$lightest-grey: #d6d7d9;
$white: #FFFFFF;
