.blue-bar{
  display: block;
  background-color: $medium-blue;
  height: 20px;
  z-index: 1;
}

.topbar{
  color: #ffffff;
  font-size: 12px;
  padding: 0 32px;

  .usa-icon{

    width: 18px;
    margin-bottom: 3px;
  }

  span{
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
  }


}

.logo-area{
  margin-top: 18px;
  margin-bottom: 18px;
}


.main-logo{
  width: 135px;
}

.input-group{
  max-width: 250px;
  padding-top: 5px;

  .form-control{
    border-color: $dark-blue;
  }

  .btn{
    background-color: $medium-blue;
    border-color: $medium-blue;
    color: $white;
    font-size: 18px;
  }

  .btn:hover{
    background-color: $lighter-blue;
  }
}

//height of the search box
.btn-height{
  height: 36px;
}

@media (max-width: $viewport-md) {
  .blue-bar{
    height: 10px;
  }

  .topbar{
    display: none;

    img{
      display: none;
    }
  }

  .logo-area{
    text-align: center;

    img{
      margin-bottom: 10px;
    }
  }

}



