.login-body{
    background-image: radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),linear-gradient(to top left,#26d0ce,#1a2980 90%);

}

.login-text-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width:300px;
  padding: 20px;
  background-color: #ffffff;
  -webkit-border-radius: 5px 5px 5px 5px;

  .login-logo-container{
      width: 100%;
      text-align: center;
  }

  h2{
      font-size: $h2FontSize;
      text-align:center;
  }

  .form-horizontal .form-group{
      margin-left: 0;
      margin-right: 0;
  }

  .control-label{
      margin-bottom: 3px;
  }
  
  input{
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 12px; 
  }
}