.return-status{
  display: block;
  background-color: $medium-blue;
  padding: 10px;
  color: $white;

  h2{

    margin-top: 5px;
    font-size: $h2FontSize;
  }

  .your-status{
    font-size: 27px;
  }
}

@media (max-width: $viewport-xs) {

  .return-status.your-status{
    font-size: 18px;
  }

}

@media (min-width: $viewport-lg) {
  .return-status{
    height: 180px;
  }

}

@media (max-width: $viewport-lg) {
    .return-status{
        margin-bottom: 15px;
    }

}